@import url(./__line/header__line.css);
@import url(./__vector/header__vector.css);

.header{
    margin: 45px 200px 36px;
    padding: 0;
}

@media screen and (max-width: 900px){
    .header{
        margin: 45px 100px 36px;
    }
}

@media screen and (max-width: 550px){
    .header{
        margin: 28px 0 38px;
    }
}

