.profile__avatar-container {
  position: relative;
}

.profile__avatar-container:hover .profile__avatar {
  opacity: 0.6;
  transition: opacity 0.4s linear;
}

.profile__avatar-container:hover .profile__overlay {
  opacity: 1;
  transition: opacity 0.4s linear;
}
