.profile__avatar{
    border-radius: 50%;
    background-size: cover;
    max-width: 120px;
    max-height: 120px;
}

@media screen and (max-width: 550px){
    .profile__avatar{
        max-width: 169px;
        max-height: 128px;
    }
    
}