@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/content/content.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/element/element.css);
@import url(../blocks/footer/footer.css);

.modal{
    background-color: white;
    display: none;
    height: 330px;
    position: absolute;
    left: calc(50% - 215px);
    width: 430px;
    top: calc(50% - 165px);
    color: black;
    border-radius: 10px;
}

.modal__form-control{
    margin: 0 36px 0;
    outline: 0;
    border-bottom: 1px solid black;
    width: calc(100% - 72px)
}

.modal__form-control + .modal__form-control{
    margin: 30px 36px 0;
}

.name{
    border: 0;
    width: 100%;
    font-size: 14px;
    line-height: 17px;
    color: black;
}

.occupation{
    border: 0;
    width: 100%;
    font-size: 14px;
    line-height: 17px;
}

.modal__profile{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.modal__title{
    margin: 34px 0 54px 36px;
    padding: 0;
    font-size: 24px;
    line-height: 29px;
    font-weight: 900;
    max-width: 330px;
}

.modal__form-submit{
    background-color: black;
    border: none;
    color: white;
    cursor: pointer;
    margin: 48px 36px 36px;
    width: calc(100% - 72px);
    height: 50px;
    border-radius: 2px;
}

.modal__form-submit:hover{
    opacity: .8;
}

.overlay{
    display: none;
    background-color: black;
    opacity: .5;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.modal__close-button{
    background-image: url(..//images/CloseIcon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    border: none;
    height: 48px;
    width: 48px;
    align-self: flex-end;
    justify-self: flex-end;
    position: absolute;
    right: -50px;
    top: -50px;
}

.modal__close-button:hover{
    opacity: .6;
}
