.element__button{
    background-position: center;
    background-color: white;
    background-repeat: no-repeat;
    width: 21px;
    height: 19px;
    border: none;
}

.element__button:hover{
    opacity: .5;
}