.modal__open{
    background-color: white;
    display: flex;
    position: fixed;
    left: calc(50% - 215px);
    width: 430px;
    top: calc(50% - 165px);
    color: black;
    border-radius: 10px;
    z-index: 1;
}

@media screen and (max-width: 550px){
    .modal__open{
        width: 282px;
        left: calc(50% - 141px);
        top: calc(50% - 161px);
    }
}