.profile__occupation{
    font-size: 18px;
    line-height: 22px;
}

@media screen and (max-width: 550px){
    .profile__occupation{
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        width: 100%;
        margin-bottom: 36px;
    }
}